<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{security}}
  <title>{{title}} | Minari</title>
  <meta name="description" content="{{summary}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&amp;family=Noto+Sans+KR:wght@400;500;700;800&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/common.css">
  <link rel="stylesheet" href="../assets/css/journal.css">
  <link rel="stylesheet" href="../assets/css/page-transitions.css">
</head>
<body>
  <main>
    <a class="back-link" href="../index.html#journal"><img src="../assets/icons/circle-arrow-left.svg" width="18" height="18" alt="" aria-hidden="true">일지 목록으로 돌아가기</a>
    <article>
      <time datetime="{{date}}">{{display_date}}</time>
      <h1>{{title}}</h1>
{{body}}
    </article>
  </main>
</body>
</html>
